# Python
__pycache__/
*.pyc
*.pyo

# Conda / environments
env/
venv/
.venv/
*.conda

# Jupyter
.ipynb_checkpoints

# Environment variables
.env

# Data
data/*
datasets/*

# Allow raw datasets (CSV)
!data/raw/
!data/raw/*.csv

# Models
models/
*.pt
*.pth

# Logs
logs/

# OS
.DS_Store
Thumbs.db